@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body, h1, h2, h3, p, ul, li {
  
  font-family: 'Quicksand', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.addNew {
  position: absolute;
  right: 0;
  color: green;
  padding: 0px 20px;
  background-color: lightcoral;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
.addNew-link {
  position: relative;
  text-decoration: none;
}

.about-us-link {
  position: relative;
  text-decoration: none;
  color: black;
}
main {
  max-width: 1096px;
  margin: 0 auto;
}


.image {
  height: 150px;
}
.mainContainer {
  margin: 0 auto;
  max-width: 80%;
}
#main-page-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.image {
  width: 100%;
}
h1 {
  font-size: xx-large;
  margin-bottom: 10px ;
}
.mainpage-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: lightcoral;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin: 20px 0;
}

.mainpage-link:hover {
  background-color: hotpink;
}
.main-link {
  text-decoration: none;
  color: black;
}
form {
  margin: 10px 0;
}
header {
 background-color: pink;
 margin-bottom: 30px;
 padding: 0 30px;
}

footer {
  background-color: hotpink;
  padding: 20px;
}
footer nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer nav ul li {
  display: inline-block;
  margin-right: 10px;
}
.main-div {
  cursor: pointer;
  background-color: palevioletred;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}