label,
input,
textarea {
  display: block;
  margin-bottom: 10px;
  
}
.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: brown;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 30px;
}

.button-link:hover {
  background-color: #0056b3;
}
body {
  min-height: 100vh;
  background-image: url("../images/mainpageimage.jpeg");
  background-size: contain;
  background-repeat: repeat;
}
/* header {
background-color: #94bbe9;
} */