label,
input {
  display: block;
  margin-bottom: 10px;
  /* width: 40%; */
}
.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: lightcoral;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 30px;
}

.button-link:hover {
  background-color: hotpink;
}
body {
  min-height: 100vh;
  background-image: url("../images/mainpageimage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* header {
background-color: #94bbe9;
} */
.button {
  background-color: hotpink;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 20%;
  font-size: 15px;
}
.input-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  max-width: 500px;
}

#newRecipe {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  #newRecipe{
    margin-left: 10%;
  }
}