body {
  min-height: 100vh;
  background-image: url("images/main-pagei-mage-2.jpeg");
  background-size: cover;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-repeat: no-repeat;
}

.background-image {
  margin: 0;
  padding: 0;
  min-height: 100%;
  /* opacity: 0.5; */
}
h1 {
  font-size: xx-large;
}